@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    margin: 50px;
    display: flex;
    justify-content:space-between;
}

main{
    display: flex;
    margin-left: 120px;
}

.principal{
    width: 75rem;
    margin: 20px;
}

.sinopse{
    margin-left: 20px;
    line-height: 5px;
}

.secao-secundarios{

    flex-direction: column;
}

h2{
    font-weight: 500;
}

.texto-1{
    font-weight: 400;
}

.texto-2{
    font-weight: 300;
}

div{
    margin: 20px;
}

.info{
    margin-left:10px;
}